:root {
  --app-padding-inline: var(--spacing-200);
  --color-foreground-primary-rgb: var(--mq-lt, var(--color-neutral-900-rgb))
    var(--mq-dk, var(--color-neutral-100-rgb));
  --color-background-primary-rgb: var(--mq-lt, var(--color-neutral-100-rgb))
    var(--mq-dk, var(--color-neutral-900-rgb));

  --motion-ease-power-out-1: linear(
    0 0%,
    0.0027 3.64%,
    0.0106 7.29%,
    0.0425 14.58%,
    0.0957 21.87%,
    0.1701 29.16%,
    0.2477 35.19%,
    0.3401 41.23%,
    0.5982 55.18%,
    0.7044 61.56%,
    0.7987 68.28%,
    0.875 75%,
    0.9297 81.25%,
    0.9687 87.5%,
    0.9922 93.75%,
    1 100%
  );
  --motion-ease-power-out-2: linear(
    0 0%,
    0.0036 9.62%,
    0.0185 16.66%,
    0.0489 23.03%,
    0.0962 28.86%,
    0.1705 34.93%,
    0.269 40.66%,
    0.3867 45.89%,
    0.5833 52.95%,
    0.683 57.05%,
    0.7829 62.14%,
    0.8621 67.46%,
    0.8991 70.68%,
    0.9299 74.03%,
    0.9545 77.52%,
    0.9735 81.21%,
    0.9865 85%,
    0.9949 89.15%,
    1 100%
  );

  --color-yellow-900: #1b1301;
  --color-coral-900: #200a03;

  --color-kiwi-900: #061a06;
  --color-jade-900: #001c14;
  --color-teal-900: #00181f;
  --color-blue-900: #060b26;
  --color-violet-900: #1b0524;
  --color-lilac-900: #210115;
  --color-pink-900: #200404;

  @media (min-width: 640px) {
    --app-padding-inline: var(--spacing-400);
  }
}
